<h2>Celebrities List</h2>

{{#each celebrities}}
  <hr />
  <div>
    <a href="/celebrities/{{_id}}">
      <h3>{{name}}</h3>
    </a>
    <img src="{{image}}" style="height: 150px">
    {{!-- <h6>Occupation: {{occupation}}</h6>
    <h6>Catch Phrase: {{catchPhrase}}</h6> --}}
  </div>
{{/each}}

 <hr />