<h2>Movie Details</h2>

<div>
  <h3>Movie Title: {{dbMovie.title}}</h3>
  <h6>Genre : {{dbMovie.genre}}</h6>
  <h6>Plot : {{dbMovie.plot}}</h6>
  <p>Donated by: {{dbMovie.donor.username}}</p>

  {{#each dbMovie.cast}}
    <hr />
    <h6>Cast member name: {{name}}</h6>
    <h6>Occupation: {{occupation}}</h6>
    <h6>Catch Phrase: {{catchPhrase}}</h6>
    
  {{/each}}
  

  <a href="/movies/{{dbMovie._id}}/edit">Edit This Movie</a>

{{#if donorMatch}}
  <form action="/movies/{{dbMovie._id}}/delete" method="post">
    <button type="submit">Delete Movie</button>
  </form>
{{/if}}
</div>
<hr />